
<div class="actividad-tarjeta-container" *ngIf="accesoVoto"> 
    <!-- <app-show-activities *ngIf="comienzo"></app-show-activities> -->
     <div class="actividad-tarjeta" *ngIf="actividades.length > 0">
        <h3>{{ actividades[0].title }}</h3>
        <p>{{ actividades[0].description }}</p>
        <img [src]="actividades[0].image"  class="img-preview" alt="{{ actividades[0].title }}">
    
    
        <div *ngIf='contieneSecuenciaEspecifica("/game-user")'>
            <button class="btn btn-vote" (click)="votar(1, actividades[0].title )">Like</button>
            <button class="btn btn-vote" (click)="votar(-1, actividades[0].title)">Dislike</button>
            <button class="btn btn-vote" (click)="votar(0, actividades[0].title)">Not interested</button>

        </div>

    </div>

</div>
<div class="actividad-tarjeta-container" *ngIf="!accesoVoto"> 
     <div class="row justify-content-center">
        <div class="col-6">
            <div class="content-response rounded shadow">
                <h3>GRACIAS POR JUGAR!</h3>
            </div>
        </div>
     </div>
</div>

