<!-- <div class="actividad-tarjeta-container"></div>
        <div class="row justify-content-md-center">
            <div class="col-6">
                 <div class="actividad-tarjeta" *ngIf="actividades.length > 0">
                <h3>{{ actividades[0].title }}</h3>
                <p>{{ actividades[0].description }}</p>
                <img [src]="actividades[0].image" alt="{{ actividades[0].title }}">
           
        
        <div>
            <input type="radio" id="like" name="feedback" (change)="handleFeedback('like')">
            <label for="like">Like</label>
    
            <input type="radio" id="dislike" name="feedback" (change)="handleFeedback('dislike')">
            <label for="dislike">Dislike</label>
    
            <input type="radio" id="idk" name="feedback" (change)="handleFeedback('idk')">
            <label for="idk">IDK</label>
        </div>
         <div class="row justify-content-md-center">
            <div class="col-6 text-center">
                <div class="vote shadow rounded">
                    <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off">
                    <label class="btn btn-vote" for="option5">Like</label>

                    <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
                    <label class="btn btn-vote" for="option6">Dislike</label>

                    <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
                    <label class="btn btn-vote" for="option8">Not interested</label>
                </div>
            </div>
        </div> 
    </div>
</div> -->

 <div class="actividad-tarjeta-container"> 
    <!-- <app-show-activities *ngIf="comienzo"></app-show-activities> -->
     <div class="actividad-tarjeta" *ngIf="actividades.length > 0">
        <h3>{{ actividades[0].title }}</h3>
        <p>{{ actividades[0].description }}</p>
        <img [src]="actividades[0].image" alt="{{ actividades[0].title }}">
    
    
        <div>
            <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off" onclick="votar('Like', '${actividades[0]}')">
            <label class="btn btn-vote" for="option5">Like</label>
            
            <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off" onclick="votar('Dislike', '${actividades[0].id}')">
            <label class="btn btn-vote" for="option6">Dislike</label>
            
            <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off" onclick="votar('Not interested', '${actividades[0].id}')">
            <label class="btn btn-vote" for="option8">Not interested</label>
        </div>
    </div> 
</div>
<!--para ver las actividades (esto debe ir en otro componente e importar con app-nomComp)-->