@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



.card {
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
	display: inline-block;
}


/* Estiliza el botón de editar como desees */
button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}
/***************************************************************/
.descripcion{
	overflow: auto;
	height: 180px;
}
.proposal-card {
	background-color: white;
	padding: 20px;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
	width: 280px;
	max-height: 100%;
	height: 580px;
	
}

.eliminar-boton{
	color: black;
}

.eliminar-boton:hover{
	color: rgb(64, 61, 61);
}

.editar-boton{
	float: right;
	color: black;
}

.editar-boton:hover{
	float: right;
	color: rgb(64, 61, 61);
}

.proposal-container {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 20px;
	width: 85%;
	margin-right: 20px;
}

.titleProposal {
	font-family: 'Fjalla One', sans-serif;
}

.cartas {
	overflow-y: auto;
	height: 610px;
	display: flex;
	overflow-x: auto;
	align-items: flex-start;
}

.cartas::-webkit-scrollbar, .descripcion::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.cartas::-webkit-scrollbar-track, .descripcion::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
}

.cartas::-webkit-scrollbar-thumb, .descripcion::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3);
	outline: 1px solid rgba(255, 255, 255, 0.3);
}

/************************************************/
/*Botón para jugar*/
.btn-play {
	color: white;
	background-color: #c466ff;
	width: 100%;
	margin-top: 10px;
}

.btn-play:hover {
	color: white;
	background-color: #753c99;
}

