<div class="container">
  <div class="row">
    <div class="col proposal-container">
      <div class="row">
        <div class="cartas">
          <div class="col" *ngFor="let tarjeta of tarjetas | async">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h1 class="titleProposal text-center">{{tarjeta.title}}</h1>
                <img src="../../assets//SignInImage.jpeg" width="200px" height="200px" class="rounded " alt="...">
                <hr>
                <div class="descripcion">
                  <p class="texto">{{tarjeta.description}}</p>
                </div>
                <button class="btn btn-play" routerLink="/game"
                  (click)="guardarId(tarjeta._id.toString())">Jugar</button>
                <button class="btn btn-danger" (click)="removeId(tarjeta._id.toString())"> DEL</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
