<div class="fondo">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <div class="rank-content rounded shadow">
                    <div class="row">
                        <div class="col">
                            <h1 class="title-ranking text-center">ACTIVIDAD MÁS VOTADA</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="activity-content rounded">
                                <div class="row">
                                    <div class="col text-center">
                                        <h1 class="title-proposal"> titulo de la propuesta </h1>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img src="..." alt="" srcset="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="lead">descripción...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h2 class="title-ranking">Cantidad de votos:</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-finish">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>