@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


.volver {
  color: white;
}
.fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(196, 102, 255);
  background: radial-gradient(circle, rgba(196, 102, 255, 1) 0%, rgba(14, 4, 160, 1) 100%);
}

.volver:hover {
  color: rgb(199, 192, 192);
}

.fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(196, 102, 255);
  background: radial-gradient(circle, rgba(196, 102, 255, 1) 0%, rgba(14, 4, 160, 1) 100%);
}





.content-form {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.mostrarActividad {
  background-color: white;
  padding: 10px;
}
/***************preview***************/
.descripcion{
	overflow: auto;
	height: 200px;
}

.actividades{
  display: inline-block;
}
.content-actividad{
  width: 100%;
  height: 100px;
  overflow-x: auto;
}
.btn-play {
	color: white;
	background-color: #c466ff;
	width: 100%;
}

.btn-play:hover {
	color: white;
	background-color: #753c99;
}

.titleProposal {
	font-family: 'Fjalla One', sans-serif;
}
/********************/





.form-check-label {

  cursor: pointer;
  /* Muestra el cursor como un puntero al pasar sobre el label */
}

.form-check-label.selected {
  background-color: #007bff;
  /* Cambia el color de fondo cuando la actividad está seleccionada */
  color: #fff;
  /* Cambia el color del texto cuando la actividad está seleccionada */
}