<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <div class="contenedor">
      <button class="btn btn-sidenav">Add activity</button>
      <button class="btn btn-sidenav" routerLink="/waitingRoom">Add proposal</button>
      <button class="btn btn-sidenav" (click)="logout()">Log out</button>
    </div>
  </mat-sidenav>
  <!-- ***********contenedor de cartas************** -->
  <app-card-view class="cardviwe"></app-card-view>
</mat-sidenav-container>